$powder-white: #edf1f5;
$appolo-bay: #748899;
$sheet-blue: #516170;
$somnambulist: #768a9b;
$baywater-blue: #c9d7e3;
$whiteout: #fbfbfb;
$sweet-blue: #adc0d2;
$himalaya-peaks: #e3eaf0;
$leadbelcher: #cacaca;
$megaman: #3db4f2;
$maya-blue: #6fc8ff;
$chefs-hat: #f2f5f7;

$box-shadow: rgba(103, 132, 187, 0.1);
